pipeline {
    agent any
        environment {
        PATH = "/Applications/Docker.app/Contents/Resources/bin:${env.PATH}"
        }
        stages {
            stage ('checkout') {
               steps {
                    script {
                           git branch: 'main', credentialsId: '66f0dd8f-4aa8-4318-9348-69df538dfcca', url: 'git@github.com:shreyas-mante/weather-api.git'
                    }
               }
            }
            stage('Clean Build') {
            steps {
                // Clean Gradle build
                sh './gradlew clean build'
            }
        }
        stage('Docker Build') {
            steps{
                sh 'docker build . -t weather:latest'
            }
        }
        stage('Docker Deploy'){
            steps{
                sh 'docker run -d -p 8080:8080 weather'
            }
        }
    }
}